<h1>Fight between <%=@fight.winner%> and <%=@fight.loser%></h1>
<p>
<% @fight and @fight.logs.each { |log| %>
  <div class="alert alert-<%= log.status %>">
    <%= log.news.html_safe %>
  </div>
<% } %>
</p>
