<h1>Fight between <%=@fight.winner%> and <%=@fight.loser%></h1>

<ul class="list-group">
  <% @fight and @fight.logs.each { |log| %>
    <li class="list-group-item list-group-item-<%= log.status %>">
      <%= log.news.html_safe %>
    </li>
  <% } %>
</ul>
