<h1>Editing Character</h1>

<%= render 'form', character: @character %>

<br />

<%= link_to 'Show', @character, class: 'btn btn-info' %>

<%= link_to 'Back', characters_path, class: 'btn btn-info' %>
